<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.1.0" targetFramework="net45" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
</packages>