@{
    @*Layout = "echarts";*@
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>百度Echarts</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/echarts/build/dist/echarts.js"></script>
</head>
<body>
    <div id="main" style="height: 400px; background-color: #ECECEC;"></div>

    <script type="text/javascript">

        require.config({
            paths: {
                echarts: "/Scripts/echarts/build/dist"
            }
        });

        $(function () {
            //柱状图
            bar();

        });


        function bar() {

            var result = getbarData();
            citys = JSON.parse(result);

            var cityArray = new Array();
            var jobNumArray = new Array();
            var companyArray = new Array();

            for (var i = 0; i < citys.length; i++) {
                cityArray[i] = citys[i].City;
                jobNumArray[i] = citys[i].JobNum;
                companyArray[i] = citys[i].CompanyNum;
            }

            require(
                [
                    'echarts',
                    'echarts/chart/bar'//按需加载具体的图表模块
                ],
                function (ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('main'));

                    var option = {
                        title: {
                            text: "城市对职位的需求数"
                        },
                        tooltip: {
                            show: true
                        },
                        legend: {
                            data: ['岗位需求量', '公司数量']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: cityArray//["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: "岗位需求量",
                                type: "bar",
                                data: jobNumArray,
                                markPoint: {
                                    data:[{type:"max",name:"最多"}]
                                }
                            },
                            {
                                name: "公司数量",
                                type: "bar",
                                data: companyArray,
                                markPoint: {
                                    data: [
                                            { type: "max", name: "最高数据" }
                                    ]
                                }
                            }
                        ]
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
            );
        }


        function getbarData() {
            var citys;
            $.ajax({
                url: "/api/LagouData/QueryJCityNeedJobNum",
                async: false,
                type: "GET",
                success: function (data) {
                    citys = data;
                }
            });

            return citys;
        }

    </script>

   
</body>
</html>
