@{
    @*Layout = "echarts";*@
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>百度Echarts</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/echarts/build/dist/echarts.js"></script>
</head>
<body>
    <div id="main" style="height: 400px; background-color: #ECECEC;"></div>
    <select id="stPositionName" style="width:100px;height:30px;">
        <option value="C">C</option>
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="C#">C#</option>
        <option value="Javascript">Javascript</option>
        <option value="PHP">PHP</option>
    </select>

    <div id="queryPositionName" style="height:400px; background-color:#ECECEC" ></div>
    
    <div id="querySalaryWorkYear" style="height:400px; background-color:#ECECEC"></div>

    <script type="text/javascript">

        require.config({
            paths: {
                echarts: "/Scripts/echarts/build/dist"
            }
        });

        $(function() {
            //柱状图
            bar();

            queryPositionNum("C++");

            $("#stPositionName").change(function() {
                var selectedval = $(this).find("option:selected").text();
                queryPositionNum(selectedval);
            });

        });


        function bar() {

            var result = getbarData();
            citys = JSON.parse(result);

            var cityArray = new Array();
            var jobNumArray = new Array();
            var companyArray = new Array();

            for (var i = 0; i < citys.length; i++) {
                cityArray[i] = citys[i].City;
                jobNumArray[i] = citys[i].JobNum;
                companyArray[i] = citys[i].CompanyNum;
            }

            require(
                [
                    'echarts',
                    'echarts/chart/bar'//按需加载具体的图表模块
                ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('main'));

                    var option = {
                        title: {
                            text: "城市对职位的需求数"
                        },
                        tooltip: {
                            show: true
                        },
                        legend: {
                            data: ['岗位需求量', '公司数量']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: cityArray//["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: "岗位需求量",
                                type: "bar",
                                data: jobNumArray,
                                markPoint: {
                                    data: [{ type: "max", name: "最多" }]
                                }
                            },
                            {
                                name: "公司数量",
                                type: "bar",
                                data: companyArray,
                                markPoint: {
                                    data: [
                                        { type: "max", name: "最高数据" }
                                    ]
                                }
                            }
                        ]
                    };

                    // 为echarts对象加载数据 
                    myChart.setOption(option);
                }
            );
        }


        function getbarData() {
            var citys;
            $.ajax({
                url: "/api/LagouData/QueryJCityNeedJobNum",
                async: false,
                type: "GET",
                success: function(data) {
                    citys = data;
                }
            });

            return citys;
        }

        //城市对某一职位的需求数据

        function queryPositionNum(pName) {
            console.log(pName);
            var result = queryPositionData(pName);
            console.log(result);
            citys = JSON.parse(result);

            var cityArray = new Array();
            var jobNumArray = new Array();

            for (var i = 0; i < citys.length; i++) {
                cityArray[i] = citys[i].City;
                jobNumArray[i] = citys[i].JobNum;
            }

            require(
                [
                    'echarts',
                    'echarts/chart/bar'
                ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('queryPositionName'));

                    var option = {
                        title: {
                            text: "城市对单一职位的需求数"
                        },
                        tooltip: {
                            show: true
                        },
                        legend: {
                            data: ['岗位需求量']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: cityArray//["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: "岗位需求量",
                                type: "bar",
                                data: jobNumArray,
                                markPoint: {
                                    data: [{ type: "max", name: "最多" }]
                                }
                            }
                        ]
                    };

                    // 为echarts对象加载数据 
                    myChart.setOption(option);
                }
            );
        }

        function queryPositionData(pName) {
            var citys;
            $.ajax({
                url: "/api/LagouData/QueryPositionNum",
                async: false,
                data: { positionName: pName },
                type: "GET",
                success: function(data) {
                    citys = data;
                }
            });

            return citys;
        }


        //城市某一职位不同年限薪水比
        function querySalaryWorkYear() {

            require(
                [
                    'echarts',
                    'echarts/chart/bar'
                ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('querySalaryWorkYear'));

                    option = {
                        title: {
                            text: '某地区蒸发量和降水量',
                            subtext: '纯属虚构'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['1年以下', '1-3年', '3-5年', '5-10年', '不限']
                        },
                        toolbox: {
                            show: true
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                data: ['北京', '上海', '深圳', '广州']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '蒸发量',
                                type: 'bar',
                                data: [2.0, 4.9, 7.0, 23.2]
                            },
                            {
                                name: '降水量',
                                type: 'bar',
                                data: [2.6, 5.9, 9.0, 26.4],
                            },
                            {
                                name: '降水量',
                                type: 'bar',
                                data: [2.6, 5.9, 9.0, 26.4]
                            },
                            {
                                name: '降水量',
                                type: 'bar',
                                data: [2.6, 5.9, 9.0, 26.4]
                            },
                            {
                                name: '降水量',
                                type: 'bar',
                                data: [2.6, 5.9, 9.0, 26.4]
                            },
                            {
                                name: '降水量',
                                type: 'bar',
                                data: [2.6, 5.9, 9.0, 26.4]
                            }
                        ]
                    };

                    // 为echarts对象加载数据 
                    myChart.setOption(option);

                });

        }
        
        function querySalaryWorkYearData(pName) {
            var workYear;
            $.ajax({
                url: "/api/LagouData/QueryPositionNum",
                async: false,
                data: { positionName: pName },
                type: "GET",
                success: function (data) {
                    workYear = data;
                }
            });

            return workYear;
        }
    </script>

   
</body>
</html>
