@{
    @*Layout = "echarts";*@
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>百度Echarts</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/echarts/build/dist/echarts.js"></script>
</head>
<body>
    <div id="main" style="height: 400px; background-color: #ECECEC;"></div>
    <select id="stPositionName" style="width:100px;height:30px;">
        <option value="C">C</option>
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="C#">C#</option>
        <option value="Javascript">Javascript</option>
        <option value="PHP">PHP</option>
    </select>

    <div id="queryPositionName" style="height:400px; background-color:#ECECEC"></div>

    <div id="queryWorkYearJobNum" style="height:400px; background-color:#ECECEC"></div>

    <select id="psPositionName" style="width:100px;height:30px;">
        <option value="C">C</option>
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="C#">C#</option>
        <option value="Javascript">Javascript</option>
        <option value="PHP">PHP</option>
    </select>
    <div id="queryPositionNameSalary" style="height:400px; background-color:#ECECEC"></div>


    <select id="qsPositionName" style="width:100px;height:30px;">
        <option value="C">C</option>
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="C#">C#</option>
        <option value="Javascript">Javascript</option>
        <option value="PHP">PHP</option>
    </select>
    <select id="qscity" style="width:100px;height:30px;">
        <option value="北京">北京</option>
        <option value="上海">上海</option>
        <option value="广州">广州</option>
        <option value="深圳">深圳</option>
        <option value="长沙">长沙</option>
        <option value="西安">西安</option>
    </select>
    <div id="queryFinanceStage" style="height:400px; background-color:#ECECEC"></div>



    <script type="text/javascript">

        require.config({
            paths: {
                echarts: "/Scripts/echarts/build/dist"
            }
        });

        $(function() {
            //柱状图
            bar();

            queryPositionNum("C++");

            $("#stPositionName").change(function() {
                var selectedval = $(this).find("option:selected").text();
                queryPositionNum(selectedval);
            });

            queryWorkYearJobNum();

            queryPositionNameSalary("java");
            $("#psPositionName").change(function() {
                var selectedval = $(this).find("option:selected").text();
                queryPositionNum(selectedval);
            });


            queryFinanceStage();
            $("#qscity").change(function () {
                var city = $(this).find("option:selected").text();
                var positionName = $("#qsPositionName").find("option:selected").text();

                queryPositionNum(positionName, city);
            });

        });


        function bar() {

            var result = getbarData();
            citys = JSON.parse(result);

            var cityArray = new Array();
            var jobNumArray = new Array();
            var companyArray = new Array();

            for (var i = 0; i < citys.length; i++) {
                cityArray[i] = citys[i].City;
                jobNumArray[i] = citys[i].JobNum;
                companyArray[i] = citys[i].CompanyNum;
            }

            require(
                [
                    'echarts',
                    'echarts/chart/bar'//按需加载具体的图表模块
                ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('main'));

                    var option = {
                        title: {
                            text: "城市对职位的需求数"
                        },
                        tooltip: {
                            show: true
                        },
                        legend: {
                            data: ['岗位需求量', '公司数量']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: cityArray//["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: "岗位需求量",
                                type: "bar",
                                data: jobNumArray,
                                markPoint: {
                                    data: [{ type: "max", name: "最多" }]
                                }
                            },
                            {
                                name: "公司数量",
                                type: "bar",
                                data: companyArray,
                                markPoint: {
                                    data: [
                                        { type: "max", name: "最高数据" }
                                    ]
                                }
                            }
                        ]
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
            );
        }


        function getbarData() {
            var citys;
            $.ajax({
                url: "/api/LagouData/QueryJCityNeedJobNum",
                async: false,
                type: "GET",
                success: function(data) {
                    citys = data;
                }
            });

            return citys;
        }

        //城市对某一职位的需求数据

        function queryPositionNum(pName) {
            var result = queryPositionData(pName);
            citys = JSON.parse(result);

            var cityArray = new Array();
            var jobNumArray = new Array();

            for (var i = 0; i < citys.length; i++) {
                cityArray[i] = citys[i].City;
                jobNumArray[i] = citys[i].JobNum;
            }

            require(
                [
                    'echarts',
                    'echarts/chart/bar'
                ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('queryPositionName'));

                    var option = {
                        title: {
                            text: "城市对单一职位的需求数"
                        },
                        tooltip: {
                            show: true
                        },
                        legend: {
                            data: ['岗位需求量']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: cityArray//["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: "岗位需求量",
                                type: "bar",
                                data: jobNumArray,
                                markPoint: {
                                    data: [{ type: "max", name: "最多" }]
                                }
                            }
                        ]
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
            );
        }

        function queryPositionData(pName) {
            var citys;
            $.ajax({
                url: "/api/LagouData/QueryPositionNum",
                async: false,
                data: { positionName: pName },
                type: "GET",
                success: function(data) {
                    citys = data;
                }
            });

            return citys;
        }


        //城市不同年限岗位需求数

        function queryWorkYearJobNum() {

            var workyears = queryWorkYearJobNumData();
            var workyearObj = JSON.parse(workyears);


            require(
                [
                    'echarts',
                    'echarts/chart/bar'
                ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('queryWorkYearJobNum'));

                    option = {
                        title: {
                            text: '城市不同年限岗位需求数',
                            subtext: '数据来源拉勾网'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['1年以下', '1-3年', '3-5年', '5-10年', '10年以上', '不限']
                        },
                        toolbox: {
                            show: true
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                data: workyearObj.xdata
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: workyearObj.ydata
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);

                });

        }

        function queryWorkYearJobNumData() {
            var workYear;
            $.ajax({
                url: "/api/LagouData/QueryWorkYearJobNum",
                async: false,
                type: "GET",
                success: function(data) {
                    workYear = data;
                }
            });

            return workYear;
        }


        //城市同一职位薪水

        function queryPositionNameSalary(pName) {
            var salaryJson = queryPositionNameSalaryData(pName);
            var salary = JSON.parse(salaryJson);

            require(
               [
                   'echarts',
                   'echarts/chart/bar'
               ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('queryPositionNameSalary'));

                    option = {
                        title: {
                            text: '城市不同年限岗位薪水',
                            subtext: '数据来源拉勾网'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['0k-5k', '6k-10k', '11k-15k', '16k-20k', '21k-25k', '26k-30k', '30k以上']
                        },
                        toolbox: {
                            show: true
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                data: salary.xdata
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: salary.ydata
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);

                });
        }

        function queryPositionNameSalaryData(pName) {
            var salaryJson;
            $.ajax({
                url: "/api/LagouData/QueryPositionNameSalary",
                async: false,
                data: { positionName: pName },
                type: "GET",
                success: function(data) {
                    salaryJson = data;
                }
            });

            return salaryJson;
        }

        //行业薪水分布

        function queryIndustrySalary() {

            var salaryJson = queryIndustrySalaryData();
            var salary = JSON.parse(salaryJson);

            require(
                [
                    'echarts',
                    'echarts/chart/bar'
                ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('queryIndustrySalary'));

                    option = {
                        title: {
                            text: '行业薪水分布',
                            subtext: '数据来源拉勾网'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['0k-5k', '6k-10k', '11k-15k', '16k-20k', '21k-25k', '26k-30k', '30k以上']
                        },
                        toolbox: {
                            show: true
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                data: salary.xdata
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: salary.ydata
                    };
                }
            );
        }





        //融资阶段薪水分布

        function queryFinanceStage(positionName, city) {
            var financeStageJson = queryFinanceStageData(positionName, city)
            console.log(financeStageJson);
            financeStageJson = JSON.parse(financeStageJson);

            require(
                [
                    'echarts',
                    'echarts/chart/bar'
                ],
                function(ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('queryFinanceStage'));

                    option = {
                        title: {
                            text: '融资阶段薪水分布',
                            subtext: '数据来源拉勾网'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['0k-5k', '6k-10k', '11k-15k', '16k-20k', '21k-25k', '26k-30k', '30k以上']
                        },
                        toolbox: {
                            show: true
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                data: financeStageJson.xdata
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: financeStageJson.ydata
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);

                });
        }

        function queryFinanceStageData(positionName, city) {
            var financeStageJson;
            $.ajax({
                url: "/api/LagouData/QueryFinanceStage",
                async: false,
                data: { positionName: positionName, city: city },
                type: "GET",
                success: function(data) {
                    financeStageJson = data;
                }
            });

            return financeStageJson;
        }

        

        
        

    </script>


</body>
</html>
